#sketch-window { position: absolute;
				 top: 5px; left: 653px;
				 width: 320px; height: 573px;
                 margin: 3px;}

#sketch1 { width: 315px; height: 508px;
           font-family: monospace;
           resize: none; }